<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Shop/Cửa hàng : <a href="{{baseurl '/admin/shops/dasboard/'}}{{data.shop.id}}"><b style="color: blue">{{data.shop.name}}</b> </a> </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Quản trị</a></li>
                    <li class="breadcrumb-item active">Thiết lập chiết khấu</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <form role="form" id="DiscountForm" method="POST" action="/admin/discount/shop/{{data.shop.id}}">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Thiết lập chiết khấu</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tiêu đề chiết khấu</label>
                                        <input type="text" class="form-control" id="name" placeholder="Tên chiết khấu" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label>Số lượng Vận đơn/tháng</label>
                                        <input type="number" class="form-control" id="value" placeholder="Số lượng vận đơn" name="value">
                                    </div>
                                    <div class="form-group" id="percent">
                                        <label>% chiết khấu</label>
                                        <input type="number" class="form-control" min="1" max="100" id="discount" placeholder="% chiết khấu" name="discount">
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer" align="center">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Tạo mới</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--- Danh sách Danh mục -->
            <div class="col-9">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title" style="color: blue">Thông tin tỷ lệ chiết khấu</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="all" class="table table-bordered table-striped" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên chiết khấu</th>
                                        <th>Số lượng vận đơn/tháng</th>
                                        <th>% chiết khấu</th>
                                        <th>Thao tác</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#forEach data.discount}}
                                    <tr>
                                        <td>{{index}}</td>
                                        <td>{{name}}</td>
                                        <td style="color: blue">{{value}}</td>
                                        <td style="color: red">{{discount}}%</td>
                                        <td>
                                            <button  class="btn btn-primary btn-sm" onclick="editdiscount('{{baseurl '/admin/discount/view/'}}{{id}}')">
                                                <i class="fas fa-eye">
                                                </i>
                                                Sửa
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm" data-id="{{id}}" data-name="{{name}}"  data-deleteurl="{{baseurl '/admin/discount/delete/'}}{{id}}" data-toggle="modal" data-target="#confirmDelete">
                                                <i  class="fas fa-trash" data-toggle="tooltip" title="Xóa"></i> Xóa
                                            </button>
                                        </td>
                                    </tr>
                                    {{/forEach}}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên chiết khấu</th>
                                        <th>Số lượng vận đơn/tháng</th>
                                        <th>% chiết khấu</th>
                                        <th>Thao tác</th>
                                    </tr>
                                    </tfoot>
                                </table>

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<div class="modal fade" id="updateddiscount">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin chiết khấu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" id="EditDiscountForm" method="POST">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <input type="hidden" name="_method" value="PUT">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Tiêu đề chiết khấu</label>
                                <input type="text" class="form-control" id="name" placeholder="Tên chiết khấu" name="name">
                            </div>
                            <div class="form-group">
                                <label> Số lượng vận đơn/tháng</label>
                                <input type="number" class="form-control" id="value" placeholder="Số lượng đơn hàng" name="value">
                            </div>
                            <div class="form-group" id="percent">
                                <label>% chiết khấu</label>
                                <input type="number" class="form-control" min="1" max="100" id="discount" placeholder="% chiết khấu" name="discount">
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- /.row -->
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-success">Lưu lại</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal-dialog -->
<!-- /.modal-dialog -->
<div class="modal fade" id="confirmDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xác nhận xóa thiết lập chiết khấu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Đồng ý xóa thiết lập chiết khấu <b><span id="name"></span></b>?</p>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <form role="form" id="delForm" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
</div>