    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Cấu hình thời gian giao hàng dự kiến</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Quản trị</a></li>
                        <li class="breadcrumb-item active">Thời gian giao hàng</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <form role="form" id="ConfigTimeForm" method="POST" action="/admin/config/timedelivery">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Thêm thời gian giao</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tên thời gian</label>
                                        <input type="text" class="form-control" id="name" placeholder="Tên thời gian giao" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label>Thời gian sớm nhất (ngày)</label>
                                        <input type="number" class="form-control" id="from" placeholder="Thời gian dự kiến giao hàng sớm nhất" name="val_from">
                                    </div>
                                    <div class="form-group">
                                        <label>Thời gian muộn nhất (ngày)</label>
                                        <input type="number" class="form-control" id="to" placeholder="Thời gian dự kiến giao hàng muộn nhất" name="val_to">
                                    </div>
                                    <div class="form-group">
                                        <label>Áp dụng</label>
                                        <select class="form-control select2bs4" style="width: 100%;" name="type">
                                            <option value="-1">Lựa chọn áp dụng</option>
                                            <option value="NT">Nội tỉnh</option>
                                            <option value="NM">Nội miền</option>
                                            <option value="LM">Liên miền</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer" align="center">
                                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu Lại</button>
                        </div>
                    </div>
                    </form>
                </div>
                <!--- Danh sách Danh mục -->
                <div class="col-9">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title" style="color: blue">Danh sách cấu hình thời gian giao hàng</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="all1" class="table table-bordered table-striped" style="width: 100%">
                                            <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Tên</th>
                                                <th>Thời gian giao hàng</th>
                                                <th>Áp dụng</th>
                                                <th>Thao tác</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#forEach data.timedelivery}}
                                            <tr>
                                                <td>{{index}}</td>
                                                <td>{{name}}</td>
                                                <td>Từ {{val_from}} đến {{val_to}} ngày</td>
                                                <td>{{type}}</td>
                                                <td align="right">
                                                    <button  class="btn btn-info btn-sm" onclick="edittime('{{baseurl '/admin/config/timedelivery/view/'}}{{id}}')">
                                                        <i class="fas fa-edit">
                                                        </i>
                                                        Sửa
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-sm" data-id="{{id}}" data-name="{{code}}"  data-deleteurl="{{baseurl '/admin/config/timedelivery/delete/'}}{{id}}" data-toggle="modal" data-target="#confirmDelete">
                                                        <i  class="fas fa-trash" data-toggle="tooltip" title="Xóa"></i> Xóa
                                                    </button>
                                                </td>
                                            </tr>
                                            {{/forEach}}

                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>STT</th>
                                                <th>Tên</th>
                                                <th>Thời gian giao hàng</th>
                                                <th>Áp dụng</th>
                                                <th>Thao tác</th>
                                            </tr>
                                            </tfoot>
                                        </table>

                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.card-body -->
                        </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <!--- Model Update--->
    <div class="modal fade" id="updatedtime">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cập nhật thông tin thời gian giao hàng</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form role="form" id="EditTimeForm" method="POST">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Tên thời gian</label>
                                    <input type="text" class="form-control" id="name" placeholder="Tên thời gian giao" name="name">
                                </div>
                                <div class="form-group">
                                    <label>Thời gian sớm nhất (ngày)</label>
                                    <input type="number" class="form-control" id="from" placeholder="Thời gian dự kiến giao hàng sớm nhất" name="val_from">
                                </div>
                                <div class="form-group">
                                    <label>Thời gian muộn nhất (ngày)</label>
                                    <input type="number" class="form-control" id="to" placeholder="Thời gian dự kiến giao hàng muộn nhất" name="val_to">
                                </div>
                                <div class="form-group">
                                    <label>Áp dụng</label>
                                    <select class="form-control select2bs4" style="width: 100%;" name="type">
                                        <option value="-1">Lựa chọn áp dụng</option>
                                        <option value="NT">Nội tỉnh</option>
                                        <option value="NM">Nội miền</option>
                                        <option value="LM">Liên miền</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-success">Xác nhận</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- /.modal-dialog -->
    <div class="modal fade" id="confirmDelete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Xác nhận xóa thiết lập Thời gian giao hàng</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Đồng ý xóa thiết lập thời gian giao hàng<b><span id="name"></span></b>?</p>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        <form role="form" id="delForm" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <button type="submit" class="btn btn-danger">Xóa</button>
                        </form>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
    </div>