<div class="breadcrumbs-area position-relative" style="background: #f6f6f6 url('/admin/assets/images/bg/1-1.jpg') no-repeat scroll center center/cover; padding: 100px 0;">
<div class="container">
<div class="row">
<div class="col-12 text-center">
<div class="breadcrumb-content position-relative section-content">
<h3 class="title-3">{{nameParentcate code}}</h3>
<ul>
    <li><a href="#">Sản phẩm </a></li>
<li>{{data.acate.name}}</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<!-- Shop Main Area Start Here -->
<div class="shop-main-area">
<div class="container container-default custom-area">
<div class="row flex-row-reverse">
<div class="col-lg-9 col-12 col-custom widget-mt">
    <!--shop toolbar start-->
    <div class="shop_toolbar_wrapper">
        <div class="shop_toolbar_btn">
            <button data-role="grid_3" type="button" class="active btn-grid-3" data-toggle="tooltip" title="3"><i class="fa fa-th"></i></button>
            <!-- <button data-role="grid_4" type="button"  class=" btn-grid-4" data-toggle="tooltip" title="4"></button> -->
            <button data-role="grid_list" type="button" class="btn-list" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
        </div>
    </div>
    <!--shop toolbar end-->
    <!-- Shop Wrapper Start -->

<div class="row shop_wrapper grid_3">
   <!----- Danh sach san pham----->
    {{#forEach data.listproducts}}
        <div class="col-md-6 col-sm-6 col-lg-4 col-custom product-area">
        <div class="single-product position-relative">
        <div class="product-image">
        <a class="d-block" href="/san-pham/{{slug}}.html">
                <img src="/upload/products/{{slug}}/{{images}}" alt="{{name}}" alt="{{name}}" class="product-image-1 w-100">
        </a>
        </div>
        <div class="product-content">
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        <div class="product-title">
        <h4 class="title-2"> <a href="/san-pham/{{slug}}.html">{{name}}</a></h4>
        </div>
            <div class="price-box">
                <span class="regular-price" style="color: red">{{formatvnd price}} - {{nameunit}}</span>
            </div>
        </div>
            <div class="add-action d-flex position-absolute">
                <a href="/addcart/{{sid}}/{{id}}" title="Thêm vào giỏ hàng"> <i  class="ion-bag"></i></a>
                <a title="Xem nhanh">  <i class="ion-eye"></i></a>
            </div>
        <div class="product-content-listview">
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
        <div class="product-title">
        <h4 class="title-2"> <a href="/san-pham/{{slug}}.html">{{name}}</a></h4>
        </div>
            <div class="price-box">
                <span class="regular-price" style="color: red">{{formatvnd price}} - {{nameunit}}</span>
            </div>
            <div class="add-action-listview d-flex">
                <a title="Thêm vào giỏ hàng"> <i  class="ion-bag"></i></a>
                <a title="Xem nhanh">  <i class="ion-eye"></i></a>
            </div>
            <p class="desc-content">
                {{{short}}}
            </p>
        </div>
        </div>
        </div>
    {{/forEach}}
    <!----- ket thuc san pham----->
</div>

    <!-- Shop Wrapper End -->
    <!-- Bottom Toolbar Start -->
<div class="row">
<div class="col-sm-12 col-custom">
</div>
</div>
    <!-- Bottom Toolbar End -->
</div>
    <div class="col-lg-3 col-12 col-custom">
        <!-- Sidebar Widget Start -->
<aside class="sidebar_widget widget-mt">
<div class="widget_inner">
    <div class="widget-list widget-mb-1">
        <h3 class="widget-title">Tìm kiếm</h3>
        <div class="search-box">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
        <div class="widget-list widget-mb-1">
            <h3 class="widget-title">Danh mục sản phẩm</h3>
            <!-- Widget Menu Start -->
        <nav>
        <ul class="mobile-menu p-0 m-0">

        <li class="menu-item-has-children"><a href="#">Đặc sản Miền Bắc</a>
        <ul class="dropdown">
        {{#forEach data.cate_dsmb}}
                <li><a href="/san-pham/dsmb/{{slug}}">{{name}}</a></li>
        {{/forEach}}
        </ul>
        </li>
            <li class="menu-item-has-children"><a href="#">Đặc sản Miền Nam</a>
                <ul class="dropdown">
                    {{#forEach data.cate_dsmn}}
                        <li><a href="/san-pham/dsmn/{{slug}}">{{name}}</a></li>
                    {{/forEach}}
                </ul>
            </li>
            <li class="menu-item-has-children"><a href="#">Đặc sản Tây Nguyên</a>
                <ul class="dropdown">
                    {{#forEach data.cate_dstn}}
                        <li><a href="/san-pham/dstn/{{slug}}">{{name}}</a></li>
                    {{/forEach}}
                </ul>
            </li>
        </ul>
        </nav>
            <!-- Widget Menu End -->
        </div>
</div>
</aside>
        <!-- Sidebar Widget End -->
    </div>
</div>
</div>
</div>