<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thông tin chi tiết đơn hàng: <b style="color: red">{{data.code}}</b> ({{formatdatetime data.aorders.created_at}})</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Quản trị</a></li>
                    <li class="breadcrumb-item active">Chi tiết đơn hàng</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin tài khoản đặt hàng</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Tài khoản</label>
                                    <input type="text" class="form-control" value="{{data.aorders.username}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Họ và tên</label>
                                    <input type="text" class="form-control" value="{{data.aorders.userfull_name}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Điện thoại</label>
                                    <input type="text" class="form-control"  value="{{data.aorders.userphone}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Thời gian đặt hàng</label>
                                    <input type="text" class="form-control"  value="{{formatdatetime data.aorders.created_at}}" disabled>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <form role="form" id="updateOrderForm" method="POST" action="/admin/orders/detail/{{data.code}}">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin nhận hàng</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Họ và tên</label>
                                        <input type="text" class="form-control" id="name" placeholder="Họ và Tên" name="full_name" required value="{{data.aorders.full_name}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Điện thoại</label>
                                        <input type="text" class="form-control" id="phone" placeholder="Điện thoại" name="phone" required value="{{data.aorders.phone}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Địa chỉ nhận hàng</label>
                                        <input type="address" class="form-control" id="address" placeholder="Địa chỉ nhận hàng" name="address" required value="{{data.aorders.address}}">
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group">
                                        <label>Phí vận chuyển (vnđ)</label>
                                        <input type="number" class="form-control" id="feeship" placeholder="Phí vận chuyển" value="{{data.aorders.feeship}}" name="feeship">
                                    </div>
                                    <div class="form-group">
                                        <label>Phí mua hàng (vnđ)</label>
                                        <input type="number" class="form-control" id="feebuy" placeholder="Phí mua hộ" value="{{data.aorders.feebuy}}" name="feebuy">
                                    </div>
                                    <div class="form-group">
                                        <label>Phí kiểm đếmđóng gói theo yêu cầu (vnđ)</label>
                                        <input type="number" class="form-control" id="feepack" placeholder="Phí đóng gói theo yêu cầu" value="{{data.aorders.feepack}}" name="feepack">
                                    </div>
                                    <div class="form-group">
                                        <label>Ngày dự kiến giao hàng</label>
                                        <input type="date" class="form-control" id="deliverydate" placeholder="Ngày dự kiến giao hàng" value="{{formatdate data.aorders.deliverydate}}" name="deliverydate">
                                    </div>
                                    <div class="form-group">
                                        <label style="color: red">Trạng thái (Chuyển trạng thái đơn hàng khi cập nhật)</label>
                                        <select class="form-control select2bs4" name="status">
                                            <option value="{{data.aorders.status}}" selected>{{data.aorders.statusname}}</option>
                                            {{#forEach data.status}}
                                                <option value="{{id}}">{{name}}</option>
                                            {{/forEach}}
                                        </select>
                                    </div>

                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer" align="center">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--- Danh sách Danh mục -->
            <div class="col-8">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin chi tiết sản phẩm đặt mua</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Đơn giá</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#forEach data.listdetail}}
                                    <tr>
                                        <td>{{index}}</td>
                                        <td>{{name}}</td>
                                        <td>{{qty}}</td>
                                        <td>{{formatvnd price}}</td>
                                        <td><b>{{formatvnd totals}}</b></td>
                                    </tr>
                                    {{/forEach}}
                                    <tr>
                                        <td colspan="4" align="right"><b>Thành tiền sản phẩm</b></td>
                                        <td style="color: blue;font-weight: bold">{{formatvnd data.aorders.totals}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="right">Phí vận chuyển</td>
                                        <td>{{formatvnd data.aorders.feeship}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="right">Phí mua hộ</td>
                                        <td>{{formatvnd data.aorders.feebuy}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="right">Phí đóng gói theo yêu cầu</td>
                                        <td>{{formatvnd data.aorders.feepack}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="right"><b>Tổng Chi phí</b></td>
                                        <td style="color:#3d0894;font-weight: bold">{{formatvnd data.Totals}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="right">Chi phí đặt cọc</td>
                                        <td style="color:#0b0b0b;font-weight: bold">{{formatvnd data.aorders.deposit}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="right"><b>Thanh toán</b></td>
                                        <td style="color:red;font-weight: bold;font-size: 22px;">{{totalback data.aorders.totals data.aorders.feeship data.aorders.feepack data.aorders.feebuy data.aorders.deposit data.aorders.status}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<div class="modal fade" id="confirmDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xác nhận xóa tài khoản ngân hàng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>Đồng ý xóa danh mục <b><span id="name"></span></b>?</p>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <form role="form" id="dellForm" method="DELETE">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
</div>
